<div id='header'>
  <h1>du definerar '<%= @word.word %>'</h1>
</div>


<% if @preview -%>
<div id='preview'>
  <%= @preview %>
</div>
<% end -%>

<div id='word-form'>
<% form_for(@word) do |f| %>
  <%= f.error_messages %>   
  <p>
    [<%= link_to 'cancel the apocalypse', word_path(@word), :class => 'tiny_href' %>]<br/>
    <%= f.hidden_field :word %>
    <%= f.text_area :definition, :cols => 72, :rows => 16 %>
  </p>
  <p>
    <%= f.submit 'förhandsgranska', :name => 'preview', :id => 'word_preview' %>
    <%= f.submit 'spara' %>
  </p>
<% end %>
</div>
