<div id='header'>
	<h1>du definerar '<%= @word.word %>'</h1>
	<div class='changed-my-mind'><%= link_to 'nej, jag ångrade mig', word_path(@word) %></div>
</div>


<div id='preview'>
<% if @preview %>
	<p>un previewè:</p>
	<blockquote id='definition'>
		<%= @preview %>
	</blockquote>
	<br/>
<% end %>
</div>

<div id='word-form'>
<% form_for(@word) do |f| %>
  <%= f.error_messages %>   
  <p>
	<%= f.hidden_field :word %>
    <%= f.text_area :definition, :cols => 72, :rows => 16 %>
  </p>
  <p>
	<%= f.submit 'förvy', :name => 'preview', :id => 'word_preview' %>
    <%= f.submit 'save forevar' %>
  </p>
<% end %>
</div>

