<h1>du omdefinerar '<%= @word.word %>'</h1>
<br/>

<% form_for(@word) do |f| %>
  <%= f.error_messages %>
    
  <p>
	<%= f.hidden_field :word %>
    <%= f.text_area :definition, :cols => 72 %>
  </p>
  <p>
	<%= f.submit 'preview' %>
    <%= f.submit 'save forevar' %>
  </p>
<% end %>


<div id='preview'>

</div>