<h1>du definerar din värld</h1>
<br/>

<div id='preview'>
<% if @preview %>
	<p>un previewè:</p>
	<blockquote id='definition'>
		<%= @preview %>
	</blockquote>
	<br/>
<% end %>
</div>

<% form_for(@word) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.text_area :definition %>
  </p>
  <p>
	<%= f.submit 'preview', :name => 'preview' %>
    <%= f.submit 'framgång' %>
  </p>
<% end %>

