<div id='header'>
  <h1>du definerar din värld</h1>
</div>

<% if @preview -%>
<div id='preview'>
  <%= @preview %>
</div>
<% end -%>

<div id='word-form'>
<% form_for(@word) do |f| -%>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.text_area :definition, :cols => 72, :rows => 16 %>
  </p>
  <p>
    <%= f.submit 'förhandsgranska', :name => 'preview' %>
    <%= f.submit 'spara' %>
  </p>
<% end -%>
</div>
