<p>
	<b><%=h @word.word %></b>
	<blockquote>
		<%=h @word.definition %>
	</blockquote>
</p>


<div id=footer>
[
<%= link_to 'omdefinera', edit_word_path(@word) %> eller
<%= link_to 'utforska', words_path %> eller
<%= link_to 'kvart i tolv en fredagkväll', new_word_path %>
]
</div>