<div id=menu>
<%= link_to 'ändra', edit_word_path(@word) %> eller
<%= link_to 'utforska', words_path %> eller
<%= link_to 'gör något nytt', new_word_path %>.
</div>

<div id='definition'>
  <p>
    <b><%= link_to h(@word.word), edit_word_path(@word) %></b>
    <blockquote id='definition-quote'>
      <%= @word.to_html %>
    </blockquote>
  </p>
</div>

